.i-grp{
    margin-top: 158px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),url("/home/thamizharasan/FER_sys_project/fer_sys/Image/BG-3.jpg") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 810px;
    width: 1920px;
}
.i-container{
    border: solid;
    border-color: white;
    height: 600px;
    width: 500px;
    border-radius: 10px;
    position: relative;
    top: 100px;
    left:150px;
}
.pass{
    position:absolute;   
    top: 550px;
    left: 230px;
    
}
.gmail{
    position:absolute;   
    top: 450px;
    left: 230px;
}
input{
    height: 50px;
    width:300px;
    padding-left: 30px;
}
.i-btn{
    height: 50px;
    width:100px;
    background-color:white;
    border-radius: 10px;
    text-align: center;
    position: relative;
    left:460px;
    top:-100px;
}