.c-grp{
    margin-top: 60px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),url("/home/thamizharasan/FER_sys_project/fer_sys/Image/BG-3.jpg") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 810px;
    width: 1920px;
}